/* general site formatting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Georgia, 'Liberation Serif', serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto auto;
}

#header h1
    {position: relative;
    border: 0 none transparent;
    margin: 1em auto;
    border: 1px solid #ccc;
    }
#header img
{
    position: absolute;
    top: 0;
    left: 0;
}
    
#site {
    max-width: 785px;
    text-align: left;
    line-height: 1.5em;
    margin: 2.5em auto 2em;
    padding: 0 1.5em;
}
#site .title {
    font-weight: bold;
}
#site .links {
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 32px;
    border-bottom: 1px solid #ddd;
}
#site .banner {
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 32px;
}
#site a {
    color: #2749b0;
}
#site .contact a:hover {
    color: black;
}

#site .blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
#site .blog-card a {
  color: inherit;
}
#site .blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
#site .blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  background-position: 0px -54px;
}
#site .blog-card .details,
#site .blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
#site .blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}
#site .blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
#site .blog-card .details ul li {
  display: inline-block;
}
#site .blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}
#site .blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
#site .blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
#site .blog-card .details .tags li {
  margin-right: 2px;
}
#site .blog-card .details .tags li:first-child {
  margin-left: -4px;
}
#site .blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
#site .blog-card .description h1,
#site .blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
#site .blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
#site .blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
#site .blog-card .description .read-more {
  text-align: right;
}
#site .blog-card .description .read-more a {
  color: #2749b0;
  display: inline-block;
  position: relative;
}
#site .blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
#site .blog-card p:first-of-type {
  margin-top: 1.25rem;
}
#site .blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

@media (min-width: 640px) {
  #site .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  #site .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  #site .blog-card .description {
    flex-basis: 60%;
  }
  #site .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  #site .blog-card .photo {
    background-position: 0px -26px;
  }
}

.title {
  font-size: 125%;
  text-align: center;
  font-size: 130%;
}

h1 {
  font-size: 200%;
  padding-top: 1ex;
}
h2 {
  font-size: 110%;
  padding-top: 1ex;
}
h3 {
  font-size: 105%;
  padding-top: 1ex;
}
h4 {
  font-size: 100%;
  padding-top: 1ex;
}
h5 {
  font-size: 80%;
  padding-top: 0em;
}
h6 {
  font-size: 70%;
  padding-top: 0em;
}
p {
  margin: 0em 0;
}
p1 {
  margin: 0em 0;
}
a {
  text-decoration: none;
  color: #2749b0;
}
  a:visited { color: #2749b0; }
  a:hover   {
    text-decoration: underline;
  }

ol {
  margin-left: 2.25em;
}

ul {
  margin-top: 0.8em;
  margin-left: 1.8em;
}

.figure {
  text-align: center;
}
  .figure p.note { font-size: 75%; }

hr {
  margin: 40px 0 10px 0;
}

.grid-left, .grid-right {
  float: left;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  width: 100%;
}

@media (min-width: 700px) {
  .grid-left, .grid-right {
    width: 50%;
  }
  .grid-left {
    padding-right: 0.5em;
  }
  .grid-right {
    padding-left: 0.5em;
  }
}

/* benchmarks table */

table.benchmarks {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
  table.benchmarks thead {
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
  }
  table.benchmarks tbody {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  table.benchmarks colgroup col.relative {
    border-left: 1px solid black;
  }
  table.benchmarks thead th,
  table.benchmarks thead td {
    width: 10ex;
    text-align: center;
    padding: 0 1ex;
  }
  table.benchmarks thead td {
    padding-bottom: 0.75ex;
  }
  table.benchmarks tbody th {
    font-weight: normal;
    text-align: left;
    padding: 0 1em;
  }
  table.benchmarks tbody td.data {
    text-align: right;
    padding: 0 2em 0 0;
  }

/* inline code and code blocks */

code, table.benchmarks tbody {
  font: 9pt Monaco, 'Consolas', monospace;
}

pre {
  border: 1px solid #ddd;
  margin: 1em 0;
  padding: .75em 1.25em;
  line-height: 1em;
  overflow: auto;
}

.sidebar {
  border: 1px solid #ddd;
  padding: .75em 1.25em;
  line-height: 1.45em;
  margin: 1em 0.5em 1em 0em;
  font-size: 90%;
}

blockquote {
  margin: 1em 2em 1em 1em;
}

/* pages listing blog posts */

#blogindex {
  max-width: 30em;
  margin: 2em auto 2em auto;
}
  #blogindex ul {
    margin: 0 2.5em 0 1em;
  }
  #blogindex ul.posts {
    list-style-type: none;
  }
    #blogindex ul.posts li {
      line-height: 1.75em;
      margin: 0;
    }
    #blogindex ul.posts .timestamp {
      float: right;
      color: #aaa;
    }

/* blog post pages */

#blogpost {
  margin-bottom: 3em;
}
  #blogpost .timestamp {
    color: #aaa;
  }

#trackbacks {
  margin-bottom: 3em;
}

/* disqus comment threads */

#disqus_thread {
  font-family: Helvetica, Arial, Clean, sans-serif;
  font-size: 85%;
}
  #dsq-pagination {
    font-size: 85%;
  }

.chaplink {
  font-family: Helvetica, Arial, Clean, sans-serif;
  font-size: 90%;
}
.prevlink {
  float: left;
}
.nextlink {
  float: right;
}

/* downloads page */

.downloads {
  margin: 1% 0 0 3%;
  width: 90%;
  font-size: 80%;
}
.downloads tbody {
  width: 100%;
}
.downloads td {
  font-weight: normal;
  text-align: center;
  width: 25%;
}
.downloads th {
  font-size: 100%;
  padding: 0 5px;
}
.downloads td, .downloads th {
  border: solid 1px silver;
  padding: 5px;
  vertical-align: middle;
}
.downloads a {
  display: block;
  width: 100%;
}
.downloads a:hover {
  background: #eee;
}

/* source page */

.source {
  margin: 1% 0 0 3%;
  width: 90%;
  font-size: 80%;
}
.source tbody {
  width: 100%;
}
.source td {
  text-align: center;
  width: 50%;
}
.source th {
  padding: 0 5px;
}
.source td, .source th {
  border: solid 1px silver;
  padding: 5px;
  vertical-align: middle;
}
.source a {
  display: block;
  width: 100%;
}
.source a:hover {
  background: #eee;
}

/* generalDescription */

.generalDescription {
    background-image: url("./img/example_379x250.png");
    background-repeat: no-repeat;
}

/* Utility classes */
.u-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
